body {
  background: linear-gradient(90deg, #161413 8px, transparent 1%) center,
    linear-gradient(#161413 8px, transparent 1%) center, #292929;
  background-size: 10px 10px; }

  .mainNavbar {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-style: normal; }

    .navbar-brand {
      margin-left: 10%; }

      .navbar-brand img:hover {
        box-shadow: rgba(238, 31, 39, 0.59) 0px 0px 22px 4px; }

        .navbar-brand img {
          height: 150px;
          width: 175px;
          border-radius: 100%; }

          .navbar-nav {
            margin-left: 8%; }

            .nav-item {
              margin-right: 5%; }

              .contact {
                background-color: red;
                font-weight: 500;
                color: red;
                border-radius: 20px;
                text-align: center;
                box-shadow: rgba(238, 31, 39, 0.59) 0px 0px 22px 4px;
                margin-left: 15%; }

                .nav-link {
                  color: white; }

                  .nav-item a:hover {
                    color: red; }

                    .contact a {
                      margin-top: 2.5%; }

                      .right_arrow {
                        font-size: 20px; }

                        .slide_show {
                          margin-top: 75px;
                          display: grid;
                          grid-template-columns: 10% 80% 10%;
                          grid-template-rows: 30% 15% 20% 15% 20%; }

                          .social_media_list {
                            display: inline-block;
                            list-style-type: none;
                            color: #808185;
                            font-size: 40px;
                            grid-column-start: 0;
                            grid-column-end: 2;
                            grid-row-start: 1;
                            grid-row-end: 2;
                            justify-self: center; }

                            .social_media_list li a {
                              color: gray; }

                              .social_media_list li a:hover {
                                color: goldenrod; }

                                .carousel_indicators {
                                  grid-column-start: 3;
                                  grid-column-end: 4;
                                  display: inline-block;
                                  list-style-type: none;
                                  grid-row-start: 1;
                                  grid-row-end: 3; }

                                  .carousel_buttons {
                                    background: none;
                                    border: none; }

                                    .indicators_lines {
                                      padding-bottom: 5%; }

                                      .carousel_lines {
                                        border: 1.5px solid white;
                                        width: 35px;
                                        margin-left: 2%; }

                                        .carousel-item img {
                                          max-height: 650px;
                                          min-height: 650px; }

                                          .slide_nice_lines {
                                            grid-column-start: 1;
                                            grid-column-end: 2;
                                            grid-row-start: 2;
                                            grid-row-end: 4; }

                                            .vl_1 {
                                              border-left: 1px solid darkgray;
                                              margin-left: 55%;
                                              height: 100%;
                                              float: left; }

                                              .vl_2 {
                                                border-left: 1px solid darkgray;
                                                height: 100%;
                                                float: right;
                                                margin-right: 35%; }

                                                .slide_nice_lines_2 {
                                                  grid-column-start: 3;
                                                  grid-column-end: 4;
                                                  grid-row-start: 3;
                                                  grid-row-end: 5; }

                                                  .vl_3 {
                                                    border-left: 1px solid darkgray;
                                                    margin-left: 30%;
                                                    height: 100%;
                                                    float: left; }

                                                    .vl_4 {
                                                      border-left: 1px solid darkgray;
                                                      float: right;
                                                      height: 100%;
                                                      margin-right: 60%; }

                                                      #Bosscut_Carousel {
                                                        grid-column-start: 2;
                                                        grid-column-end: 3;
                                                        grid-row-start: 1;
                                                        grid-row-end: 6; }

                                                        .carousel-caption {
                                                          margin-right: 50%; }

                                                          .scroll_down {
                                                            writing-mode: vertical-rl;
                                                            text-orientation: mixed;
                                                            color: darkgoldenrod;
                                                            margin-right: 30%;
                                                            grid-row-start: 4;
                                                            grid-row-end: 6;
                                                            margin-top: 20%; }

                                                            .scroll_down:hover {
                                                              color: red; }

                                                              .slide_counter {
                                                                grid-column-start: 3;
                                                                grid-column-end: 4;
                                                                grid-row-start: 5;
                                                                grid-row-end: 6;
                                                                margin-left: 10%;
                                                                margin-top: 30%;
                                                                color: goldenrod;
                                                                font-size: 50px;
                                                                font-family: Montserrat, sans-serif; }

                                                                .carousel-control-next, .carousel-control-prev, .carousel-indicators {
                                                                  display: none; }

                                                                  .carousel-control-prev, .carousel-control-next {
                                                                    width: 5%; }

                                                                    .carousel .carousel-indicators li {
                                                                      background-color: red; }

                                                                      .carousel .carousel-indicators li.active {
                                                                        background-color: var("--primary"); }

                                                                        @media screen and (max-width:800px) {
                                                                          .navbar-brand img {
                                                                            height: 125px;
                                                                            width: 150px;
                                                                            border-radius: 100%;   }
}

@media screen and (max-width: 1300px) {
  .slide_nice_lines, .slide_nice_lines_2, .carousel_indicators, .scroll_down,
  .slide_counter, .social_media_list {
    display: none;   }
    .slide_show {
      margin-top: 20px;
      grid-template-columns: 5% 90% 5%;
      grid-template-rows: 100%;   }
      .carousel-control-next, .carousel-control-prev {
        display: inherit;   }
        .carousel-indicators {
          display: inline-flex;   }
          .carousel-item img {
            max-height: 450px;
            min-height: 450px;   }
}

.about_us {
  column-count: 2;
  padding-top: 5%;
  font-family: "Open Sans", sans-serif;
  background-image: url("aboutbg.jpeg");
  column-width: 250px;
  column-gap: 100px;
  padding-bottom: 2%; }

  .about_us_text {
    margin-top: 15%;
    color: white;
    margin-left: 20%; }

    .about_us_text h1 {
      font-size: 18px;
      color: red; }

      .about_us_text h2 {
        color: goldenrod; }

        .about_us_img img {
          min-height: 500px;
          max-height: 600px; }

          @media screen and (max-width:800px) {
            .about_us {
              padding-top: 10%;
              column-count: 1;   }
              .about_us_text h1 {
                font-size: 24px;   }
                .about_us_text p1 {
                  font-size: 14px;   }
                  .about_us_text {
                    text-align: center;
                    margin-top: 0;
                    margin-left: 0;
                    padding-right: 10%;
                    padding-left: 10%;   }
                    .about_us_img {
                      margin-top: 3%;   }
                      .about_us_img img {
                        width: 350px;
                        height: 400px;
                        margin-right: 15%;
                        float: right;   }
}

.style_img ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0; }

  .style_1 {
    width: 25%;
    text-align: center; }

    .style_2 {
      width: 25%;
      text-align: center; }

      .style_3 {
        width: 25%;
        text-align: center; }

        .style_4 {
          width: 25%;
          text-align: center; }

          .style_img ul li img {
            height: 300px;
            width: 100%; }

            .img_caption {
              position: relative;
              bottom: 20%;
              color: white;
              font-size: 30px;
              font-family: "Playfair Display", serif; }

              @media screen and (max-width: 800px) {
                .style_img ul {
                  display: block;
                  padding-bottom: 0;   }
                  .style_1, .style_2, .style_3, .style_4 {
                    width: 100%;
                    height: 400px;   }
                    .style_img ul li img {
                      height: 400px;
                      padding-bottom: 0;   }
                      .img_caption {
                        font-size: 50px;
                        bottom: 200px;   }
}

.BOOK {
  margin-top: -4%;
  padding-bottom: 5%; }

  .Book_forms {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 4%;
    font-family: "Playfair Display", serif;
    background-image: url("appt_form.png"); }

    .Book_forms_titles {
      padding-top: 5%; }

      .Book_forms_titles h1 {
        color: goldenrod;
        text-align: center; }

        .Book_forms_titles h2 {
          color: white;
          text-align: center;
          font-size: 24px; }

          .Book_forms_inputs {
            display: flex;
            margin-top: 5%; }

            .Book_info {
              margin-left: 5%;
              width: 40%;
              float: left; }

              .info_list {
                list-style-type: none; }

                .info_list li {
                  margin-bottom: 5%; }

                  .info_list h3 {
                    color: white;
                    font-size: 22px; }

                    .info_list p1 {
                      color: #9c9c9c;
                      font-family: Poppins, sans-serif;
                      font-size: 16px; }

                      .Book_pricing {
                        float: right;
                        width: 50%;
                        margin-left: 5%; }

                        .services {
                          list-style-type: none; }

                          .services li {
                            margin-bottom: 5%;
                            color: white;
                            font-size: 25px; }

                            @media screen and (max-width: 800px) {
                              .Book {
                                margin-top: 0;   }
                                .Book_forms {
                                  margin-top: 10%;
                                  background: black;
                                  border: solid red 1px;   }
                                  .Book_info {
                                    width: 100%;
                                    float: none;   }
                                    .Book_pricing {
                                      float: none;
                                      width: 100%;   }
                                      .Book_forms_inputs {
                                        display: block;   }
                                        .services_titles {
                                          width: 50%;
                                          border-bottom: solid 1px goldenrod;   }
}

@media screen and (max-width: 650px) {
  .services li {
    font-size: 18px;   }
}

.Book_now {
  margin-top: 5%;
  margin-left: 40%;
  background-color: red;
  color: white;
  font-size: 40px;
  border-radius: 30px;
  border: solid 2px red;
  padding: 2%;
  box-shadow: rgba(238, 31, 39, 0.59) 0px 0px 22px 4px;
  margin-bottom: 1%; }

  .Book_now a {
    color: white;
    text-decoration: none; }

    .Book_now a:hover {
      color: black; }

      .Become_Barber {
        column-count: 2;
        padding-top: 2%;
        font-family: "Open Sans", sans-serif;
        background-image: url("classes_bg.png");
        column-width: 250px;
        padding-bottom: 5%; }

        .Become_Barber_text {
          margin-top: 5%;
          color: white;
          margin-left: 20%;
          font-family: "Open Sans", sans-serif; }

          .Become_Barber_text h1 {
            font-size: 30px;
            color: goldenrod;
            padding-bottom: 5%; }

            .Become_Barber_img {
              margin-left: 20%;
              margin-top: 5%;
              padding-bottom: 5%; }

              .Gallery {
                margin-top: 7%;
                color: goldenrod;
                text-align: center;
                padding-bottom: 5%; }

                .Photo_gallery {
                  display: grid;
                  gap: 1.5rem;
                  margin-top: 5%; }

                  #g1 {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 3; }

                    #g2 {
                      grid-column-start: 1;
                      grid-column-end: 2;
                      grid-row-start: 3;
                      grid-row-end: 4; }

                      #g3 {
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 3;
                        grid-row-end: 4; }

                        #g4 {
                          grid-column-start: 3;
                          grid-column-end: 4;
                          grid-row-start: 1;
                          grid-row-end: 2; }

                          #g5 {
                            grid-row-start: 2;
                            grid-row-end: 4;
                            grid-column-start: 3;
                            grid-column-end: 4; }

                            @media screen and (min-width: 1200px) {
                              .Photo_gallery {
                                margin-left: 10%;
                                margin-right: 10%;   }
}

.see_more {
  border-radius: 30px;
  font-size: 20px;
  border: solid 2px goldenrod;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  padding-left: 2%;
  margin-top: 5%;
  background: black; }

  .see_more a {
    color: white;
    text-decoration: none; }

    .see_more a:hover {
      color: red; }

      @media screen and (max-width: 1100px) {
        .Photo_gallery {
          grid-template-columns: 22.5% 22.55% 50%;   }
          #g5, #g4, #g1, #g2, #g3 {
            max-width: 100%;   }
            #g2, #g3 {
              margin-bottom: 20%;   }
}

.credit {
  background-color: black;
  color: white;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Playfair Display", serif;
  display: flex; }

  .credit_col_1 {
    list-style-type: none;
    width: 45%;
    float: left; }

    .credit_col_2 {
      margin-top: 10%;
      float: right;
      list-style-type: none; }

      .credit_logo {
        list-style-type: none;
        display: flex; }

        #Book_your_place {
          border-bottom: 1px solid grey;
          font-size: 30px; }

          #Barber_credit {
            font-size: 18px;
            color: #9c9c9c; }

            .credit_col_1 li {
              padding-bottom: 5%;
              font-size: 40px;
              padding-right: 10%; }

              #second_li {
                padding-bottom: 2%; }

                .credit_col_3 {
                  margin-top: 10%;
                  float: right;
                  list-style-type: none;
                  margin-left: 5%; }

                  .credit_col_3 h1, .credit_col_2 h1 {
                    border-bottom: solid 1px grey;
                    color: white; }

                    .credit_col_2 li, .credit_col_3 li {
                      padding-bottom: 5%;
                      color: #9c9c9c; }

                      .Credit_Barber {
                        color: goldenrod;
                        font-size: 20px;
                        border-radius: 30px;
                        border: solid 1px goldenrod;
                        padding-left: 3%;
                        padding-right: 3%;
                        padding-top: 1%;
                        padding-bottom: 1%;
                        text-decoration: none; }

                        .Credit_Barber:hover {
                          background-color: goldenrod;
                          color: black; }

                          .credit_logo li a {
                            color: white; }

                            .credit_logo li a:hover {
                              color: goldenrod; }

                              .copyright {
                                background-color: black;
                                color: white;
                                text-align: center;
                                padding-bottom: 2%; }

                                .credit_col_2 li a {
                                  text-decoration: none;
                                  color: white; }

                                  .credit_col_2 li a:hover {
                                    color: blue;
                                    text-decoration: underline; }

                                    @media screen and (max-width: 775px) {
                                      .credit {
                                        display: block;   }
                                        .credit_col_1 {
                                          float: none;
                                          width: 100%;
                                          text-align: center;   }
                                          .credit_col_1 li {
                                            padding-right: 0;   }
                                            .credit_logo li {
                                              padding-right: 10%;   }
                                              #Book_your_place {
                                                font-size: 20px;   }
                                                .credit_logo {
                                                  margin-left: 10%;   }
                                                  .credit_col_2 {
                                                    float: none;
                                                    width: 100%;
                                                    text-align: center;   }
                                                    .credit_col_3 {
                                                      float: none;
                                                      width: 100%;
                                                      text-align: center;
                                                      margin-left: 0;   }
                                                      .credit {
                                                        padding-bottom: 10%;   }
                                                        .copyright {
                                                          text-align: center;   }
}

@keyframes show-nav {
  0% {
    opacity: 0;   }
    100% {
      opacity: 100%;   }
}

.mainNavbar {
  animation: show-nav 2.5s; }

  @keyframes col-left-slide {
    0% {
      transform: translate(-100%);   }
      100% {
        transform: translate(0);   }
}

@keyframes col-right-slide {
  0% {
    transform: translate(100%);   }
    100% {
      transform: translate(0);   }
}

.social_media_list, .slide_nice_lines {
  animation: col-left-slide linear 1s; }

  .carousel_indicators, .slide_nice_lines_2, .slide_counter {
    animation: col-right-slide linear 1s; }

    #Bosscut_Carousel {
      border-radius: 20px;
      overflow: hidden;
      padding: 1px; }

      #Bosscut_Carousel::before {
        content: '';
        background-image: conic-gradient(red 20deg, transparent 120deg);
        height: 150%;
        width: 150%;
        position: absolute;
        animation: rotate 7s infinite linear; }

        @keyframes rotate {
          100% {
            transform: rotate(-360deg);   }
}

#Bosscut_Carousel::after {
  content: '';
  height: 94%;
  width: 94%;
  position: absolute;
  border-radius: 5px;
  top: 3%;
  left: 3%;
  color: red; }

  .come_from_left {
    animation: col-left-slide linear 4s; }

    .come_from_right {
      animation: col-right-slide linear 4s; }

      .rotate {
        animation: rotate linear 1s; }

        @keyframes fade {
          0% {
            opacity: 0;   }
            100% {
              opacity: 1;   }
}

.fade {
  animation: fade 4s forwards; }

  @keyframes RY {
    0% {
      color: Red;
      font-size: 40px;   }
      100% {
        color: goldenrod;
        font-size: 30px;   }
}

.change_color_RY {
  animation: RY 3s forwards; }

  @keyframes growing-font {
    0% {
      font-size: 1px;   }
      100% {
        font-size: 16px;   }
}

.growing-font {
  animation: growing-font 4s forwards; }

  #Gallery_title {
    text-align: center;
    color: goldenrod;
    font-size: 50px;
    animation: title_gallery forwards 4s; }

    .container {
      position: relative;
      margin-top: 5%;
      padding-bottom: 5%; }

      .mySlides {
        display: none;
        animation: fade 2s forwards; }

        .mySlides img {
          max-height: 600px; }

          .cursor {
            cursor: pointer; }

            .prev, .next {
              cursor: pointer;
              position: absolute;
              top: 40%;
              width: auto;
              padding: 16px;
              margin-top: -50px;
              color: goldenrod;
              font-weight: bold;
              font-size: 60px;
              border-radius: 0 3px 3px 0;
              user-select: none;
              -webkit-user-select: none;
              text-decoration: none; }

              .next {
                right: 0;
                border-radius: 3px 0 0 3px; }

                .prev:hover, .next:hover {
                  background-color: rgba(0, 0, 0, 0.8);
                  color: red; }

                  .numbertext {
                    color: #f2f2f2;
                    font-size: 12px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0; }

                    .row:after {
                      content: "";
                      display: table;
                      clear: both; }

                      .row {
                        margin-top: 2%; }

                        .column {
                          float: left;
                          width: 10%; }

                          .demo {
                            opacity: 0.6; }

                            .active, .demo:hover {
                              opacity: 1; }

                              @keyframes title_gallery {
                                0% {
                                  color: Red;
                                  font-size: 80px;   }
                                  100% {
                                    color: goldenrod;
                                    font-size: 50px;   }
}

@media screen and (max-width: 1000px) {
  #about_us_2 {
    column-count: 1;   }
    #about_us_2 h1 {
      font-size: 30px;   }
      #about_us_2 .about_us_text {
        text-align: center;
        margin-top: 0;
        margin-left: 0;
        padding-right: 10%;
        padding-left: 10%;
        font-size: 24px;   }
        #about_us_2 .about_us_img {
          margin-top: 3%;   }
          #about_us_2 .about_us_img img {
            margin-right: 25%;
            float: right;   }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-top: 15%;   }
    .mySlides img {
      height: 1200px;
      width: auto;   }
      .column {
        width: 20%;
        padding-bottom: 10%;   }
        .row {
          margin-top: 15%;   }
          .next, .prev {
            top: 30%;   }
}

#Academy_title {
  color: goldenrod;
  font-size: 60px;
  text-align: center;
  padding-bottom: 5%;
  animation: col-left-slide 1s linear; }

  .Academy_text {
    background-image: url("aboutbg.jpeg");
    text-align: center;
    color: white;
    padding-left: 25%;
    padding-right: 25%; }

    .Academy_text h2 {
      color: goldenrod;
      padding-bottom: 2%;
      animation: RY 3s forwards; }

      .Academy_text p1 {
        animation: fade 4s forwards;
        line-height: 2; }

        .Email_Form {
          margin-top: 10%;
          text-align: left; }

          .contact_form {
            color: goldenrod;
            font-size: 24px;
            font-family: Montserrat, sans-serif; }

            #name_input, #number_input, #email_input {
              width: 200%;
              background-color: #9c9c9c;
              border-radius: 10px; }

              #message_input {
                background-color: #9c9c9c;
                font-size: 16px; }

                #l1 {
                  animation: 1s linear col-left-slide; }

                  #l2 {
                    animation: 2s linear col-left-slide; }

                    #l3 {
                      animation: 3s linear col-left-slide; }

                      #l4 {
                        animation: 4s linear col-left-slide; }

                        #form_button {
                          border-radius: 20px;
                          font-size: 20px;
                          padding-left: 5%;
                          padding-right: 5%;
                          background-color: black;
                          color: goldenrod;
                          border: solid 2px goldenrod;
                          margin-top: 5%; }

                          #form_button:hover {
                            background-color: goldenrod;
                            color: black; }

                            .Email_Form {
                              padding-bottom: 10%; }
