html{
    min-height: 100%;
}


body{
    background-image: linear-gradient(to bottom,blue,purple);
    min-height: 100%;
    min-width: 100%;
    color: white;
    overflow-x: hidden;
    font-family: "Apple Braille";
}

/*@media screen and (max-width: 1000px){
    body{
        overflow-x:visible;
    }
}*/

a{
    color: cyan;
}



.mainNavbar{
    background: deeppink;
    /*box-shadow: 0 0 20px red ;*/
}

.nav-logo{
    margin-left: 1%;
    /**background:repeating-linear-gradient(90deg,black,red,green);**/
    color: white;
    background-color: blue;
}

.logo{
    color: white;
    list-style-type: none;
}


.nav-item{
    background:linear-gradient(to bottom,palevioletred,hotpink) ;
}

.nav-link{
    color: white;
}


.Game_title{
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
    color: white;
    border-right: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}

.column1,.column2 {
  margin-top: 5%;
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: white;
}

td,th {
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid silver;
}

.Game_team_title_2{
    text-align: right;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other on screens that are smaller than 600 px */
@media screen and (max-width: 900px) {
  .column1,.column2 {
    width: 100%;
  }
  .column2{
      direction: rtl;
  }
  .Game_team_title_2{
      text-align: left;
  }
}

.PlayersContainer{
    margin-right: 5%;
    margin-left: 5%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}




.PlayerList{
    color: white;
    list-style-type: none;
}

.Player_inside{
    width: 30%;
    border: 2px solid pink;
    display: inline-block;
    height: 150px;
}

.Player_photo_list{
    width: 35%;
    float: left;
    border-right: 2px solid white;
}

.Player_info {
    height: 100%;
}

.Player_photo{
    height: 40%;
    width:100%;
}

.Player_search_bar{
    margin-left: 20%;
    padding-right: 40%;
    height: 60px;
    border-radius:25px ;
    font-size: 24px;
}

@media screen and (max-width: 1000px) {
    .Player_inside{
        width: 100%;
        height: 75px;
    }

    .Player_photo{
        height: 75px;
    }

    .Player_search_bar{
        height: 50px;
        margin-left: 5%;
        padding-right: 30%;
    }

}

.Filter{
    background: linear-gradient(to bottom right,blue,black);
    margin-left: 10%;
    border-bottom:2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    margin-right: 20%;
}

.Filter_search_bar{
    height: 40px;
    border-radius:25px ;
    font-size: 18px;
    margin-left: 2%;
    margin-bottom: 2%;
}


.Game_List,.Competitions_list,.Category_list,.Game_Type_list{
    list-style-type: none;
}

.Game_List{
    margin-top: 3%;
}

.A_Game{
    display: inline-block;
    width: 20%;
    height: 200px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.Competitions{
    display: inline-block;
}

.Categories{
    display: inline-block;
}

.Game_Types{
    display: inline-block;
}

.Game_Container{
    background: rgba(255, 255, 255, 0);
    margin-right: 4%;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

@media screen and (max-width:1050px) {
    .A_Game{
        width: 100%;
    }

    .Game_List{
        margin-right: 25%;
    }

}




.shooting_stars span {
    position: absolute;
    width: 4px;
    height: 4px;
    top:30%;
    left:20%;
    background: skyblue;
    border-radius: 50%;
    visibility: hidden;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
                0 0 0 8px rgba(255,255,255,0.1),
                0 0 20px rgba(255,255,255,1);
    animation: animStar 3.5s linear 10;

}

/*.shooting_stars span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(270deg,white,transparent);
}*/


@keyframes animStar {
  0%
  {
      visibility: visible;
      transform: rotate(195deg) translateX(0);
  }
  70%{
      opacity: 1;
  }
  100%{
      transform: rotate(200deg) translateX(-1000px);
      opacity: 0;
  }
}

.shooting_stars span:nth-child(1){
    top: 25%;
    left:0%;
    animation-duration: 1.5s;
}

.shooting_stars span:nth-child(2) {
    top:35%;
    left:0%;
    animation-duration: 2s;
}

.shooting_stars span:nth-child(3) {
    top:40%;
    left:0%;
    animation-duration: 1s;
}

.shooting_stars span:nth-child(4) {
    top:40%;
    left:0%;
    animation-duration: 1s;
}

.shooting_stars span:nth-child(5) {
    top:68%;
    left:0%;
    animation-duration: 2s;
}

.shooting_stars span:nth-child(6) {
    top:45%;
    left:0%;
    animation-duration: 3s;
}

.shooting_stars span:nth-child(7) {
    top:48%;
    left:0%;
    animation-duration: 2s;
}

.shooting_stars span:nth-child(8) {
    top:50%;
    left:0%;
    animation-duration: 1s;
}

.shooting_stars span:nth-child(9) {
    top:52%;
    left:0%;
    animation-duration: 1.5s;
}


.shooting_stars span:nth-child(10) {
    top:55%;
    left:0%;
    animation-duration: 3s;
}

.shooting_stars span:nth-child(11) {
    top:20%;
    left:0%;
    animation-duration: 3s;
}

.shooting_stars span:nth-child(12) {
    top:57%;
    left:0%;
    animation-duration: 2s;
}

.shooting_stars span:nth-child(13) {
    top:59%;
    left:0%;
    animation-duration: 2.5s;
}

.shooting_stars span:nth-child(14) {
    top:62%;
    left:0%;
    animation-duration: 1.5s;
}

.shooting_stars span:nth-child(15) {
    top:65%;
    left:0%;
    animation-duration: 2s;
}

.shooting_stars span:nth-child(16) {
    top:65%;
    left:0%;
    animation-duration: 2s;
}

.shooting_stars span:nth-child(17) {
    top:70%;
    left:0%;
    animation-duration: 3s;
}

.shooting_stars span:nth-child(18) {
    top:74%;
    left:0%;
    animation-duration: 2.5s;
}

.shooting_stars span:nth-child(19) {
    top:15%;
    left:0%;
    animation-duration: 2.5s;
}


.shooting_stars span:nth-child(20) {
    top:18%;
    left:0%;
    animation-duration: 1.5s;
}

.shooting_stars span:nth-child(21) {
    top:22%;
    left:0%;
    animation-duration: 2.2s;
}

.shooting_stars span:nth-child(22) {
    top:0%;
    left:0%;
    animation-duration: 2.2s;
}

.shooting_stars span:nth-child(23) {
    top:3%;
    left:0%;
    animation-duration: 1.2s;
}

.shooting_stars span:nth-child(24) {
    top:5%;
    left:0%;
    animation-duration: 1.8s;
}

.shooting_stars span:nth-child(25) {
    top:7%;
    left:0%;
    animation-duration: 1.3s;
}

.Team_Players_Table{
    border-top: solid purple 2px;
}


.Tourney_Container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.Tourney_list{
    list-style-type: none;
}

.Tourney_element{
    margin-left: 20px;
    border: 2px solid black;
    width: 25%;
    height: 225px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    background: linear-gradient(to right,black,darkblue);

}

.Tourney_element a{
    position: relative;
    top: 50%;
    color: white;
    text-decoration: none;
}

@media screen and (max-width:1150px) {
    .Tourney_Container{
        margin-right: 10%;
    }

    .Tourney_element{
        width: 100%;
        margin-top: 5%;
    }
}



.Competition_title{
    height: 100px;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5%;
    background: linear-gradient(to bottom,darkblue,black);
}
.Competition_title h1{
    position: relative;
    top:30%;
}

.Up_photo_container{
    width: 100%;
    height: 200px;
    background: black;
    /*animation: UpPhoto_Switch  20s infinite;*/

}

.Up_photo{
    width: inherit;
    height: inherit;
    animation: UpPhoto_Switch 20s infinite;
}


@keyframes UpPhoto_Switch {
    0%{content: url("soccer_line.png")}
    33%{content: url("soccer_net.png")}
    66%{content: url("soccer_stadium.png")}
}

.Team_points{
    caption-side: top;
    font-size: 15px ;
}

.Team_points caption{
    text-align: center;
    color: white;
    font-size: 24px;
}

#Tourney_filter{
    width: 100%;
    margin-left: 0%;
    border: solid purple 2px;
}



.First_row{
    margin-top:2%;
    height:400px;
}

.COVID{
    background: linear-gradient(to bottom right,red,black);
    float: left;
    width: 34%;
    margin-left: 2%;
    height: 400px;
}

.COVID h1{
    text-align: center;
}

.COVID ul{
    margin-left: 4%;
}

.slides{
    float: left;
    width: 58%;
    margin-right: 2%;
    margin-left: 4%;
}

.a_slide{
    height:400px;
    width: 80%;
}

.Second_Row{
    margin-top: 2%;
    height: 450px;

}

.Best_Players{
    float: left;
    margin-left: 1%;
    width: 40%;
    height: 325px;
    margin-top: 4%;
}

.Best_ATT_M{
    background: linear-gradient(to bottom,black,darkblue);
    height: 300px;
    width: 100%;
    padding-top: 10%;
    text-align: center;
    font-size: 24px;
}

.Best_Defender{
    background: linear-gradient(to top,black,red);
    height: 300px;
    width: 100%;
    padding-top: 10%;
    text-align: center;
    font-size: 24px;

}

.Best_Keeper{
    background: linear-gradient(to bottom,darkgreen,black);
    height: 300px;
    width: 100%;
    padding-top: 10%;
    text-align: center;
    font-size: 24px;
}

.Best_Player{
    background: linear-gradient(to bottom,purple,black);
    height: 300px;
    width: 100%;
    padding-top: 10%;
    text-align: center;
    font-size: 24px;
}

.Value_System{
    float: left;
    margin-right: 2%;
    margin-left: 4%;
    width: 52%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.Value_Bonus li{
    margin-top: 10px;
    list-style-type: circle;
}

.Value_subtitle{
    font-size: 20px;
}


.Fourth_Row{
    height: 275px;
    width: 100%;
    margin-top: 7%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.Upcoming_Games{
    margin-bottom: 10%;
}

.Ultimate_Team{
    float: left;
    margin-top: 2%;
    background: linear-gradient(to bottom right,purple,darkblue);
    margin-left: 1%;
    width: 49%;
    padding-bottom: 2%;
    height: 400px;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.23);
}

.Ultimate_Team h1{
    text-align: center;
}

.Upcoming_Games ul{
    list-style-type: none;
    margin-right: 5%;
}


.Upcoming_Games li {
    display: inline-block;
    height: 200px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.Competitions_menu h1{
    text-align: center;
    padding-bottom: 2%;
}

.Competitions_menu{
    margin-top: 2%;
    float: left;
    width: 42.5%;
    margin-left: 5%;
    margin-right: 2.5%;
    background: linear-gradient(to bottom right ,blue,black);
    height: 400px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.23);
    border-radius: 4px;
}

.Competitions_menu li{
    width: 40%;
    height: 200px;
}

.Third_row{
    height: 400px;
}


.ending{
    margin-top: 5%;
    border-top: solid 2px palevioletred;
    font-size: 24px;
}

.sponsors{
    float: left;
    width: 50%;
    border-right:solid 2px palevioletred ;
}

.sponsors ul{
    list-style-type: none;
    margin-top: 4%;
}

.sponsors li{
    display: inline-block;
    margin-right: 5%;
}

.Contact{
    float: left;
    margin-left: 1%;
    width: 40%;
}

.Contact ul{
    list-style-type: none;
}

.Contact li{
    display: inline-block;
    margin-right: 4%;
}

.switch{
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    border: solid white 2px;
}