
html{
}


body{
}


.img_1{
    width: 100%;
}

.img_2{
   width: 100%;
}

.img_3{

    width: 100%;
}

.img_4{

    width: 100%;
}

.img_5{

    width: 100%;
}


.img_1 img{
    width: 100%;
}

.img_2 img{
    width: 100%;
}

.img_3 img{
    width: 100%;
}

.img_4 img{
    width: 100%;
}

.img_5 img{
    width: 100%;
}
